<div class="test_header employer">
    <a href="/employer_cabinet" class="back_btn">
        <img src="/static/img/arrow_back.png" alt="">
    </a>
    <h3><span>{{user_name}}</span> по итогам присвоена <span>{{category}} категория</span></h3>
</div>
<div class="result_table employer">
    <div class="row main">
        <div class="each_td">
            <p>Стоп факторы</p>
        </div>
        <div class="each_td">
            <p>Метапрофиль</p>
        </div>
        <div class="each_td">
            <p>Предназначение</p>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container" {{#if stop_factor_1.is_red}} style="background-color: red;" {{else}}{{#if stop_factor_1.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{stop_factor_1.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if metaprofiles_1.is_red}} style="background-color: red;" {{else}}{{#if metaprofiles_1.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{metaprofiles_1.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if third_1.is_red}} style="background-color: red;" {{else}}{{#if third_1.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{third_1.text}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container" {{#if stop_factor_1.is_red}} style="background-color: red;" {{else}}{{#if stop_factor_1.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{stop_factor_2.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if metaprofiles_2.is_red}} style="background-color: red;" {{else}}{{#if metaprofiles_2.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{metaprofiles_2.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if third_2.is_red}} style="background-color: red;" {{else}}{{#if third_2.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{third_2.text}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
            <div class="each_td_container" {{#if stop_factor_1.is_red}} style="background-color: red;" {{else}}{{#if stop_factor_1.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{stop_factor_3.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if metaprofiles_3.is_red}} style="background-color: red;" {{else}}{{#if metaprofiles_3.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{metaprofiles_3.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if third_3.is_red}} style="background-color: red;" {{else}}{{#if third_3.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{third_3.text}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if metaprofiles_4.is_red}} style="background-color: red;" {{else}}{{#if metaprofiles_4.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{metaprofiles_4.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if third_4.is_red}} style="background-color: red;" {{else}}{{#if third_4.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{third_4.text}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="each_td">
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if metaprofiles_5.is_red}} style="background-color: red;" {{else}}{{#if metaprofiles_5.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{metaprofiles_5.text}}</p>
            </div>
        </div>
        <div class="each_td">
            <div class="each_td_container" {{#if third_5.is_red}} style="background-color: red;" {{else}}{{#if third_5.is_yellow}} style="background-color: orange;" {{else}} style="background-color: green;" {{/if}}{{/if}}>
                <p>{{third_5.text}}</p>
            </div>
        </div>
    </div>
</div>

<div class="test_header">
    <h3>Выслать результаты на почту</h3>
</div>
<form action="" class="result_table">
    <div class="row main send_res">
        <div class="input_wrapper">
            <input type="text" placeholder="Поиск по имени">
        </div>
        <div class="each_td action">
            <p>Выслать</p>
        </div>
    </div>
</form>