<div class="test_header">
    <h3>{{ask_main_text}}</h3>
</div>
<div class="answers_block block_v">
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="answer" id="" class="real-radio-btn" value="f">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>{{answer_1}}</p>
    </div>
    <div class="answer_each" onclick="check_radio(this)">
        <input type="radio" name="answer" id="" class="real-radio-btn" value="s">
        <div class="span_wrapper">
            <span class="custom-radio-btn"></span>
        </div>
        <p>{{answer_2}}</p>
    </div>
</div>
<a onclick="accept_ask({{ask_info.ask_id}}, {{ask_info.block_id}})">Далее</a>